.section__small_title {
  padding-block: 100px;
}
.section__small_title .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 12px;
}
.section__small_title .sub_title {
  max-width: 225px;
}

.hero__section {
  height: 100svh;
  overflow: hidden;
}
.hero__section .hero__box {
  margin-bottom: 0px;
}
.hero__section .hero__img {
  height: calc(100svh - 20px);
  overflow: hidden;
}

.section__sweater {
  padding-block: 100px;
}

.section__title .sub_title {
  max-width: 300px;
}

@media (max-width: 840px) {
  .section__small_title .text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section__small_title .text .sub_title {
    max-width: unset;
  }
  .hero__section {
    padding-bottom: 0px;
    height: unset;
  }
  .hero__section .hero__img {
    height: unset;
    max-height: calc(100svh - 228px);
  }
  .section__sweater {
    padding-block: 50px;
  }
}