.hero__section {
  padding-top: 44px;
  padding-bottom: 72px;
}
.hero__section .hero__box {
  margin-bottom: 0;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.hero__section .hero__img img {
  width: 51.91px;
  margin: 0 auto;
}
.hero__section p {
  max-width: 223px;
}

.big-blog-section {
  padding-bottom: 52px;
}

.settings-section {
  padding: 20px 0;
}
.settings-section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.settings-section .filter-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.settings-section .filter-tabs .filter-tab {
  position: relative;
}
.settings-section .filter-tabs .filter-tab.active button {
  color: var(--Neutrals-neutral-1000, #1A1715);
}
.settings-section .filter-tabs .filter-tab button {
  padding: 4px 22px 4px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -1%;
  color: var(--Neutrals-neutral-600, #aea8a2);
  border: none;
  background: none;
  -webkit-transition: var(--trans);
  transition: var(--trans);
  white-space: nowrap;
}
.settings-section .filter-tabs .filter-tab button:active {
  color: var(--Neutrals-neutral-800, #796F64);
}
.settings-section .filter-tabs .filter-tab button:focus-visible {
  outline: 1px solid #fb654f;
  outline-offset: 2px;
}
.settings-section .filter-tabs .filter-tab button:disabled {
  color: var(--Neutrals-neutral-400, #C9C5C1);
}
.settings-section .filter-tabs .filter-tab-number {
  position: absolute;
  top: 4px;
  right: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0%;
  color: var(--Neutrals-neutral-400, #C9C5C1);
}
.settings-section .right .input-box {
  width: 223.5px;
}

.blogs-section {
  padding-bottom: 100px;
}
.blogs-section .blogs-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
  gap: 40px 12px;
}

@media (max-width: 840px) {
  .hero__section {
    padding-top: 4px;
    padding-bottom: 20px;
  }
  .hero__section .hero__box {
    gap: 16px;
  }
  .hero__section .hero__img {
    display: none;
  }
  .hero__section .sub_title {
    max-width: 400px;
  }
  .big-blog-section {
    display: none;
  }
  .settings-section .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 16px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .settings-section .left {
    max-width: 100%;
    overflow-x: scroll;
  }
  .settings-section .left::-webkit-scrollbar {
    display: none;
  }
  .settings-section .right {
    width: 100%;
  }
  .settings-section .right .input-box {
    width: 100%;
  }
  .blogs-section {
    padding-bottom: 50px;
  }
  .blogs-section .container {
    padding: 0;
  }
  .blogs-section .blogs-list {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }
}