.hero__section {
  padding-top: 44px;
  padding-bottom: 116px;
}
.hero__section .hero__box {
  margin-bottom: 0;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.hero__section .hero__img img {
  width: 51.91px;
  margin: 0 auto;
}
.hero__section p {
  max-width: 223px;
}

.cart-section {
  padding-bottom: 100px;
}
.cart-section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}
.cart-section .cart-items {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: grid;
  gap: 40px 12px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
.cart-section .cart-items .cart-item {
  display: block;
  position: relative;
  -webkit-transition: var(--trans);
  transition: var(--trans);
  max-width: 600px;
}
.cart-section .cart-items .cart-item-photo {
  height: 600px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 12px;
  -webkit-transition: var(--trans);
  transition: var(--trans);
}
.cart-section .cart-items .cart-item-photo img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
.cart-section .cart-items .cart-item-name {
  text-align: center;
}
.cart-section .cart-items .cart-item-name h5 {
  margin-bottom: 4px;
}
.cart-section .cart-items .cart-item-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  position: absolute;
  top: 8px;
  padding: 0 8px;
}
.cart-section .cart-items .cart-item-settings {
  position: absolute;
  top: 556px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}
.cart-section .cart-items .cart-item-settings .color {
  width: 36px;
  height: 36px;
  background-color: #37414A;
  display: none;
}
.cart-section .cart-items .cart-item:active .cart-item-photo {
  opacity: 80%;
}
.cart-section .cart-items .cart-item:focus-visible {
  outline: 1px solid #fb654f;
  outline-offset: 2px;
}
.cart-section .cart-items .cart-item .fade-out {
  opacity: 0;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-transition: opacity 0.3s ease-out, -webkit-transform 0.3s ease-out;
  transition: opacity 0.3s ease-out, -webkit-transform 0.3s ease-out;
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
  transition: opacity 0.3s ease-out, transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}
.cart-section .cart-totals {
  width: 32%;
  min-width: 223px;
}
.cart-section .cart-totals-box {
  width: 223px;
  float: right;
}
.cart-section .cart-totals-details {
  border-bottom: 0.5px solid var(--Neutrals-neutral-400, #C9C5C1);
  padding-bottom: 16px;
}
.cart-section .cart-totals-details h5 {
  margin-bottom: 24px;
}
.cart-section .cart-totals-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -1%;
}
.cart-section .cart-totals-block:not(:last-of-type) {
  margin-bottom: 16px;
}
.cart-section .cart-totals-block p:first-child {
  color: var(--Neutrals-neutral-800, #796F64);
}
.cart-section .cart-totals-block p:last-child {
  color: var(--Neutrals-neutral-1000, #1A1715);
}
.cart-section .cart-totals-text {
  margin-top: 12px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0%;
  color: var(--Neutrals-neutral-600, #AEA8A2);
}
.cart-section .cart-totals-total {
  margin-top: 16px;
  margin-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -1%;
  color: var(--Neutrals-neutral-800, #796F64);
}
.cart-section .cart-totals-total label {
  display: none;
  gap: 4px;
  padding: 7.3px 0;
}
.cart-section .cart-totals-total label .cart-icon {
  width: 16px;
}
.cart-section .cart-totals-total label .cart-icon img {
  -webkit-transition: var(--trans);
  transition: var(--trans);
}
.cart-section .cart-totals-total label input {
  display: none;
}
.cart-section .cart-totals-total p:last-child {
  color: var(--Neutrals-neutral-1000, #1A1715);
}
.cart-section .cart-totals .btn {
  width: 100%;
}

.quantity-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0.5px solid var(--Neutrals-neutral-400, #C9C5C1);
  background-color: var(--Neutrals-neutral-000, #FEFEFF);
}
.quantity-controls p {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -4%;
  text-align: center;
  color: var(--Neutrals-neutral-800, #796F64);
  display: inline-block;
  min-width: 36px;
}
.quantity-controls .icon img {
  width: 20px;
}
.quantity-controls:active {
  border: 0.5px solid var(--Neutrals-neutral-800, #796F64);
}
.quantity-controls:focus-visible {
  outline: 1px solid #fb654f;
  outline-offset: 2px;
}

.size-dropdown {
  position: relative;
}
.size-dropdown .dropdown-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 72px;
  border: 0.5px solid var(--Neutrals-neutral-400, #C9C5C1);
  background-color: var(--Neutrals-neutral-000, #FEFEFF);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -4%;
  text-align: center;
  color: var(--Neutrals-neutral-800, #796F64);
  -webkit-transition: var(--trans);
  transition: var(--trans);
}
.size-dropdown .dropdown-box .selected {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.size-dropdown .dropdown-box .icon img {
  -webkit-transition: var(--trans);
  transition: var(--trans);
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.size-dropdown .dropdown-box:has(.selected[data-value]) {
  border: 0.5px solid var(--Neutrals-neutral-800, #796F64);
}
.size-dropdown .dropdown-list {
  position: absolute;
  top: calc(100% - 0.5px);
  width: calc(100% - 2px);
  left: 1px;
  -webkit-box-shadow: 0px 2px 9px 0px var(--Neutrals-neutral-200, #E3E1E0);
          box-shadow: 0px 2px 9px 0px var(--Neutrals-neutral-200, #E3E1E0);
  background-color: var(--Neutrals-neutral-000, #FEFEFF);
  z-index: 5;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: var(--trans);
  transition: var(--trans);
}
.size-dropdown .dropdown-item {
  padding: 12px 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -1%;
  color: var(--Neutrals-neutral-800, #796F64);
}
.size-dropdown .dropdown-item:not(:last-child) {
  border-bottom: 0.5px solid var(--Neutrals-neutral-400, #C9C5C1);
}
.size-dropdown.active .dropdown-box {
  border: 0.5px solid var(--Neutrals-neutral-800, #796F64);
}
.size-dropdown.active .dropdown-box .icon img {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
.size-dropdown.active .dropdown-list {
  max-height: 160px;
  opacity: 1;
  overflow-y: scroll;
}
.size-dropdown.active .dropdown-list .dropdown-item {
  pointer-events: auto;
}
.size-dropdown.active .dropdown-list::-webkit-scrollbar {
  display: none;
}

.no-items-section {
  padding-top: 129px;
  padding-bottom: 289px;
  text-align: center;
  display: none;
}
.no-items-section h3 {
  margin-bottom: 12px;
}
.no-items-section h3 span {
  color: var(--Accent-Accent-500, #FB654F);
}
.no-items-section p {
  margin-bottom: 32px;
}
.no-items-section .btn {
  margin: 0 auto;
}

.cta-section .cta-header {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 840px) {
  .hero__section {
    padding-top: 4px;
    padding-bottom: 70px;
  }
  .hero__section .hero__box {
    gap: 16px;
  }
  .hero__section .hero__img {
    display: none;
  }
  .hero__section .sub_title {
    max-width: 400px;
  }
  .cart-section {
    padding-bottom: 50px;
  }
  .cart-section .container {
    display: block;
  }
  .cart-section .cart-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  .cart-section .cart-items .cart-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 12px;
    height: 130px;
  }
  .cart-section .cart-items .cart-item-name h5 {
    text-align: left;
  }
  .cart-section .cart-items .cart-item-photo {
    height: 130px;
    margin-bottom: 0;
    max-width: 120px;
  }
  .cart-section .cart-items .cart-item-info {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cart-section .cart-items .cart-item-details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
  }
  .cart-section .cart-items .cart-item-details .price_box_sale {
    margin: 0;
  }
  .cart-section .cart-items .cart-item-buttons {
    position: static;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0;
  }
  .cart-section .cart-items .cart-item-buttons .icon {
    background: var(--Neutrals-neutral-000, #FEFEFF);
  }
  .cart-section .cart-items .cart-item-settings {
    position: static;
    -webkit-transform: none;
            transform: none;
    margin-top: auto;
  }
  .cart-section .cart-items .cart-item-settings .icon {
    padding: 8px;
    margin: 0;
  }
  .cart-section .cart-items .cart-item-settings .icon img {
    width: 20px;
    height: 20px;
  }
  .cart-section .cart-items .cart-item-settings .color {
    display: block;
  }
  .cart-section .cart-totals {
    position: fixed;
    bottom: 0;
    width: 100vw;
    padding: 20px;
    padding-top: 12px;
    min-width: none;
    background: var(--Neutrals-neutral-000, #FEFEFF);
    z-index: 50;
    margin: 0 -20px;
  }
  .cart-section .cart-totals-box {
    width: 100%;
    float: none;
  }
  .cart-section .cart-totals-details {
    overflow: hidden;
    max-height: 0;
    -webkit-transition: max-height 0.3s ease-out;
    transition: max-height 0.3s ease-out;
    padding: 0;
    border: none;
  }
  .cart-section .cart-totals-details h5 {
    display: none;
  }
  .cart-section .cart-totals-text {
    margin-bottom: 16px;
  }
  .cart-section .cart-totals-total {
    margin-top: 0;
    margin-bottom: 8px;
  }
  .cart-section .cart-totals-total p:first-child {
    display: none;
  }
  .cart-section .cart-totals-total label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .cart-section .cart-totals:has(input:checked) {
    padding-top: 20px;
  }
  .cart-section .cart-totals:has(input:checked) .cart-totals-total {
    margin-top: 8px;
  }
  .cart-section .cart-totals:has(input:checked) .cart-totals-total .cart-icon img {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  .cart-section .cart-totals:has(input:checked) .cart-totals-details {
    max-height: 130px;
    border-bottom: 0.5px solid var(--Neutrals-neutral-400, #C9C5C1);
  }
  .no-items-section {
    padding-top: 123px;
    padding-bottom: 173px;
  }
}