.hero__section {
  padding-top: 44px;
  padding-bottom: 116px;
}
.hero__section .hero__box {
  margin-bottom: 0;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.hero__section .hero__img img {
  width: 51.91px;
  margin: 0 auto;
}
.hero__section p {
  max-width: 223px;
}

.faq-section {
  overflow: hidden;
  padding-bottom: 100px;
}
.faq-section .faq-item {
  max-width: 930px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.faq-section .faq-box {
  max-width: 458px;
  border-top: 0.5px solid var(--Neutrals-neutral-400, #C9C5C1);
}
.faq-section .faq-box input {
  display: none;
}
.faq-section .faq-box:active {
  border-color: var(--Neutrals-neutral-600, #AEA8A2);
}
.faq-section .faq-box:active .faq-header .faq-icon path {
  fill: var(--Neutrals-neutral-600, #AEA8A2);
}
.faq-section .faq-box:active .faq-content {
  color: var(--Neutrals-neutral-600, #AEA8A2);
}
.faq-section .faq-box:active h3 {
  color: var(--Neutrals-neutral-800, #796F64);
}
.faq-section .faq-box:has(input:checked) .faq-content {
  max-height: 32px;
  margin-bottom: 16px;
}
.faq-section .faq-box:has(input:checked) .faq-header .minus {
  -webkit-transform: rotate(0deg) scaleY(1);
          transform: rotate(0deg) scaleY(1);
}
.faq-section .faq-box:has(input:checked) .faq-header .plus {
  -webkit-transform: rotate(180deg) scaleY(0);
          transform: rotate(180deg) scaleY(0);
}
.faq-section .faq-box:has(input:checked) ~ .faq-photo {
  max-height: 400px;
  margin-top: 8px;
  margin-bottom: 16px;
}
.faq-section .faq-box:focus-visible {
  outline: 1px solid #fb654f;
  outline-offset: 2px;
}
.faq-section .faq-header {
  padding: 16px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
.faq-section .faq-header h3 {
  -webkit-transition: var(--trans);
  transition: var(--trans);
}
.faq-section .faq-header .faq-icon {
  width: 20px;
  height: 20px;
  position: relative;
}
.faq-section .faq-header .faq-icon svg {
  -webkit-transition: var(--trans);
  transition: var(--trans);
  position: absolute;
}
.faq-section .faq-header .faq-icon path {
  fill: var(--Neutrals-neutral-800, #796F64);
  -webkit-transition: var(--trans);
  transition: var(--trans);
}
.faq-section .faq-header .minus {
  -webkit-transform: rotate(-180deg) scaleY(0);
          transform: rotate(-180deg) scaleY(0);
}
.faq-section .faq-content {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: var(--trans);
  transition: var(--trans);
}
.faq-section .faq-photo {
  max-width: 930px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all 0.3s ease-out 0.15s;
  transition: all 0.3s ease-out 0.15s;
}
.faq-section .faq-photo img {
  -o-object-fit: cover;
     object-fit: cover;
}

.cta-section .cta-text {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 840px) {
  .hero__section {
    padding-top: 4px;
    padding-bottom: 70px;
  }
  .hero__section .hero__box {
    gap: 16px;
  }
  .hero__section .hero__img {
    display: none;
  }
  .hero__section .sub_title {
    max-width: 400px;
  }
}
@media (max-width: 570px) {
  .faq-section {
    padding-bottom: 50px;
  }
  .faq-section .faq-photo {
    margin: 0 -20px;
    width: calc(100% + 40px);
    height: 161px;
  }
  .faq-section .faq-photo img {
    width: 606px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .faq-section .faq-box:has(input:checked) ~ .faq-photo {
    max-height: 161px;
  }
}