.item-section {
  padding-bottom: 100px;
}
.item-section .item-photo {
  max-width: 458px;
  margin: 0 auto;
  margin-top: -100vh;
  padding-top: 31px;
}
.item-section .item-photo-list {
  width: 100%;
}
.item-section .item-photo-list img {
  pointer-events: auto;
}
.item-section .item-info {
  width: 100%;
  position: sticky;
  top: 0;
  margin-top: -80px;
  height: 100vh;
  pointer-events: none;
  z-index: 1;
}
.item-section .item-info .line {
  display: none;
}
.item-section .item-info button, .item-section .item-info input, .item-section .item-info label {
  pointer-events: auto;
}
.item-section .item-info .container {
  height: 100%;
}
.item-section .item-info-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.item-section .item-info-name {
  max-width: 223px;
}
.item-section .item-info-name h3 {
  margin-bottom: 20px;
}
.item-section .item-info-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -4%;
  color: var(--Neutrals-neutral-800, #796F64);
}
.item-section .item-info-price .old {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -4%;
  color: var(--Neutrals-neutral-600, #AEA8A2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.item-section .item-info-price .discount {
  padding: 2px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0%;
  color: var(--Neutrals-neutral-000, #FEFEFF);
  background-color: var(--Secondary-red-100, #FB654F);
  margin-left: -5px;
}
.item-section .item-info-details {
  max-width: 223px;
}
.item-section .item-info-details-header {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -1%;
  color: var(--Neutrals-neutral-1000, #1A1715);
}
.item-section .item-info-details .colors {
  margin-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4px;
}
.item-section .item-info-details .colors .color {
  width: 24px;
  height: 24px;
  background-color: var(--color);
  display: block;
}
.item-section .item-info-details .colors .color input {
  display: none;
}
.item-section .item-info-details .colors .color:has(input:checked) {
  outline: 1px solid #fb654f;
  outline-offset: 2px;
}
.item-section .item-info-details .size-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
.item-section .item-info-details .size-header .item-info-details-header {
  margin: 0;
}
.item-section .item-info-details .size-header button {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -1%;
  background: none;
  border: none;
  color: var(--Neutrals-neutral-600, #AEA8A2);
}
.item-section .item-info-details .sizes {
  margin-bottom: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4px;
}
.item-section .item-info-details .sizes .size {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -1%;
  text-align: center;
  color: var(--Neutrals-neutral-800, #796F64);
  width: 24px;
  height: 24px;
  padding: 2px 0;
  margin: 4px;
  -webkit-transition: var(--trans);
  transition: var(--trans);
  position: relative;
}
.item-section .item-info-details .sizes .size:hover:not(:has(input:disabled)) {
  background-color: var(--Neutrals-neutral-100, #F1F0EF);
}
.item-section .item-info-details .sizes .size:active {
  background-color: var(--Neutrals-neutral-200, #E3E1E0);
}
.item-section .item-info-details .sizes .size:focus-visible {
  outline: 1px solid #fb654f;
  outline-offset: 2px;
}
.item-section .item-info-details .sizes .size:has(input:checked) {
  background-color: var(--Neutrals-neutral-800, #796F64);
  color: var(--Neutrals-neutral-000, #FEFEFF);
}
.item-section .item-info-details .sizes .size:has(input:disabled) {
  color: var(--Neutrals-neutral-400, #C9C5C1);
}
.item-section .item-info-details .sizes .size input {
  display: none;
}
.item-section .item-info-details .sizes .size .tooltip {
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: var(--Neutrals-neutral-800, #796F64);
  color: var(--Neutrals-neutral-000, #FEFEFF);
  padding: 4px 8px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease-out 0.7s;
  transition: all 0.3s ease-out 0.7s;
  white-space: nowrap;
}
.item-section .item-info-details .sizes .size:has(input:disabled):hover .tooltip {
  visibility: visible;
  opacity: 1;
}
.item-section .item-info-details-size-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0%;
  color: var(--Neutrals-neutral-600, #AEA8A2);
  margin-bottom: 24px;
}
.item-section .item-info-details-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -1%;
  color: var(--Neutrals-neutral-800, #796F64);
}
.item-section .item-info-details-text:not(:last-child) {
  margin-bottom: 24px;
}
.item-section .item-info-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 20px;
}

.content-section {
  padding-bottom: 100px;
}
.content-section .content-headers {
  position: sticky;
  top: 100px;
  max-width: 215px;
}
.content-section .content-headers .decor {
  margin-bottom: 24px;
}
.content-section .content-headers .decor img {
  width: 51.91px;
}
.content-section .content-headers a {
  margin-bottom: 2px;
  padding: 4px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -4%;
  color: var(--Neutrals-neutral-600, #AEA8A2);
  -webkit-transition: var(--trans);
  transition: var(--trans);
  display: block;
}
.content-section .content-headers a.active {
  color: var(--Neutrals-neutral-1000, #1A1715);
}
.content-section .content-headers a:active {
  color: var(--Neutrals-neutral-800, #796F64);
}
.content-section .content-headers a:focus-visible {
  outline: 1px solid #fb654f;
  outline-offset: 2px;
}
.content-section > .container.first {
  margin-top: -124px;
}
.content-section > .container.first .content-block {
  padding-top: 100px;
}
.content-section .content-block {
  max-width: 930px;
  margin-left: 255px;
  padding-top: 80px;
}
.content-section .content-block .content-text, .content-section .content-block .content-quote, .content-section .content-block .content-buttons, .content-section .content-block h2, .content-section .content-block h4 {
  max-width: 458px;
  margin: 0 auto;
}
.content-section .content-block h2 {
  margin-bottom: 40px;
}
.content-section .content-block h4 {
  margin-bottom: 28px;
}
.content-section .content-block .content-subblock {
  width: 100%;
}
.content-section .content-block .content-subblock:not(:last-child) {
  margin-bottom: 40px;
}
.content-section .content-block .content-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -1%;
  color: var(--Neutrals-neutral-800, #796F64);
}
.content-section .content-block .content-text:not(:last-child) {
  margin-bottom: 28px;
}
.content-section .content-block .content-photo {
  width: 100%;
  margin-bottom: 28px;
}
.content-section .content-block p:not(:last-child) {
  margin-bottom: 20px;
}
.content-section .content-block .text-button {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -1%;
  color: var(--Accent-Accent-500, #FB654F);
  background: none;
  border: none;
}
.content-section .content-block ul li {
  padding-left: 16px;
  position: relative;
}
.content-section .content-block ul li:not(:last-child) {
  margin-bottom: 8px;
}
.content-section .content-block ul li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 9px;
  width: 4px;
  height: 4px;
  background-color: var(--Neutrals-neutral-800, #796F64);
  border-radius: 99px;
}
.content-section .content-block ol li {
  counter-increment: item;
  position: relative;
  padding-left: 32px;
}
.content-section .content-block ol li:not(:last-child) {
  margin-bottom: 8px;
}
.content-section .content-block ol li::before {
  content: counter(item, decimal);
  position: absolute;
  left: 0;
  top: 1px;
  width: 20px;
  height: 20px;
  border-radius: 99px;
  background-color: var(--Neutrals-neutral-800, #796F64);
  color: var(--Neutrals-neutral-000, #FEFEFF);
  text-align: center;
}
.content-section .content-block .content-table p {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -4%;
  color: var(--Neutrals-neutral-1000, #1A1715);
  margin-bottom: 16px;
}
.content-section .content-block .content-table .table-container {
  width: 100%;
  overflow-x: scroll;
}
.content-section .content-block .content-table .table-container::-webkit-scrollbar {
  display: none;
}
.content-section .content-block .content-table table {
  width: 100%;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  border-collapse: collapse;
}
.content-section .content-block .content-table table thead {
  background-color: var(--Neutrals-neutral-100, #F1F0EF);
}
.content-section .content-block .content-table table th, .content-section .content-block .content-table table td {
  padding: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -1%;
  color: var(--Neutrals-neutral-800, #796F64);
  border: 0.5px solid var(--Neutrals-neutral-400, #C9C5C1);
  width: 186px;
  text-align: left;
}
.content-section .content-block .content-quote {
  padding-left: 20px;
  border-left: 0.5px solid var(--Neutrals-neutral-400, #C9C5C1);
}
.content-section .content-block .content-quote .quote {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: var(--Neutrals-neutral-800, #796F64);
  margin-bottom: 40px;
}
.content-section .content-block .content-quote .quote .marks {
  color: var(--Accent-Accent-500, #FB654F);
  font-style: italic;
}
.content-section .content-block .content-quote .avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
.content-section .content-block .content-quote .avatar .block {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  width: 28px;
  height: 28px;
  border: 0.5px solid var(--Accent-Accent-500, #FB654F);
  color: var(--Accent-Accent-500, #FB654F);
  padding: 6px 0;
}
.content-section .content-block .content-quote .avatar p {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -1%;
  color: var(--Neutrals-neutral-1000, #1A1715);
}
.content-section .content-block .content-buttons {
  padding-top: 20px;
  border-top: 0.5px solid var(--Neutrals-neutral-400, #C9C5C1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.content-section .content-block .content-buttons .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4px;
}
.content-section .content-block.last {
  margin-bottom: 0;
}
.content-section > .content-photo {
  margin-bottom: 80px;
}

.lookbook__section {
  padding-block: 100px;
}
.lookbook__section .lookbook__fixed {
  height: 523px;
}
.lookbook__section .lookbook__info {
  position: absolute;
  inset: 0;
  padding: 20px;
  height: 100%;
}
.lookbook__section .lookbook__list_img {
  padding: 0;
  margin: 0;
}
.lookbook__section .lookbook__photo4 {
  top: 340px;
  left: 491px;
}
.lookbook__section .lookbook__photo8 {
  display: none;
}

.aside-container {
  padding: 96px 20px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: auto;
  max-height: 100vh;
  height: 100vh;
}
.aside-container::-webkit-scrollbar {
  display: none;
}

.aside-header {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background: var(--Neutrals-neutral-000, #FEFEFF);
  position: fixed;
  top: 0;
  width: 50%;
}
.aside-header .icon {
  margin: 0;
  padding: 8px;
}
.aside-header .icon img {
  width: 20px;
  height: 20px;
}
.aside-header h5 {
  text-align: center;
  width: calc(100% - 75px);
}

body:has(.size-table.open),
body:has(.preview.open) {
  overflow: hidden;
}

.preview {
  position: fixed;
  inset: 0;
  z-index: -1;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: var(--trans);
  transition: var(--trans);
}
.preview.open {
  z-index: 1000;
  visibility: visible;
  opacity: 1;
}
.preview-bg {
  position: absolute;
  inset: 0;
  background: rgba(121, 111, 100, 0.0509803922);
  backdrop-filter: blur(10px);
}
.preview .swiper {
  position: relative;
  z-index: 1;
  padding: 0;
  height: 100vh;
  margin: 0 auto;
  pointer-events: none;
}
.preview .swiper-slide {
  width: 100% !important;
  height: 100%;
  padding: 0;
  -webkit-transition: none;
  transition: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.preview .swiper-slide img {
  height: 100%;
  width: auto;
  pointer-events: auto;
}
.preview .swiper-pagination {
  pointer-events: auto;
  bottom: 16px;
}
.preview .swiper-pagination-bullet {
  width: 4px;
  height: 4px;
  background: rgba(254, 254, 255, 0.4);
  -webkit-transition: var(--trans);
  transition: var(--trans);
}
.preview .swiper-pagination-bullet-active {
  width: 12px;
  background: var(--Neutrals-neutral-000, #FEFEFF);
  border-radius: 198px;
}
.preview .swiper-pagination-bullet:active {
  background: rgba(254, 254, 255, 0.8);
}
.preview .swiper-pagination-bullet:focus-visible {
  outline: 1px solid #fb654f;
  outline-offset: 2px;
}
.preview .swiper-pagination-bullet:disabled {
  background: rgba(254, 254, 255, 0.1019607843);
}
.preview .swiper-button-prev, .preview .swiper-button-next {
  width: 36px;
  height: 36px;
  pointer-events: auto;
}
.preview .swiper-button-prev img, .preview .swiper-button-next img {
  width: 20px;
}
.preview .swiper-button-prev::after, .preview .swiper-button-next::after {
  content: none;
}
.preview .swiper-button-next {
  right: 20px;
}
.preview .swiper-button-next button {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.preview .swiper-button-prev {
  left: 20px;
}
.preview .close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2;
}

@media (max-width: 1200px) {
  .lookbook__section .lookbook__fixed {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .lookbook__section .lookbook__photo4 {
    margin-left: 60px;
    margin-top: 24px;
    display: block;
    top: auto;
    left: auto;
  }
  .lookbook__section .lookbook__photo8 {
    display: block;
  }
}
@media (max-width: 840px) {
  .item-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  .item-section .container:has(.breadcrumbs) {
    display: none;
  }
  .item-section .item-info {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    position: relative;
    z-index: 2;
    padding: 20px 0;
    margin-top: 0;
    background-color: var(--Neutrals-neutral-000, #FEFEFF);
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    pointer-events: auto;
  }
  .item-section .item-info .line {
    display: block;
    padding: 7.5px 0;
    position: absolute;
    bottom: 100%;
    width: 100%;
  }
  .item-section .item-info .line hr {
    width: 52px;
    height: 1px;
    border: none;
    background-color: #000;
    margin: 0 auto;
  }
  .item-section .item-info-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    gap: 20px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .item-section .item-info-name {
    max-width: unset;
  }
  .item-section .item-info-name h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0%;
    margin-bottom: 4px;
  }
  .item-section .item-info-price {
    display: inline;
    margin: 0 auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 16px;
    line-height: 20px;
  }
  .item-section .item-info-price .old {
    display: inline;
    padding-bottom: 2px;
    margin-left: 8px;
    position: relative;
  }
  .item-section .item-info-price .discount {
    position: absolute;
    top: 0.5px;
    left: calc(100% - 0.5px);
  }
  .item-section .item-info-buttons {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin: 0;
  }
  .item-section .item-info-buttons .icon {
    margin: 0;
    padding: 8px;
  }
  .item-section .item-info-buttons .icon img {
    height: 20px;
    width: 20px;
  }
  .item-section .item-info-details {
    max-width: unset;
  }
  .item-section .item-photo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    position: sticky;
    top: 0;
    overflow-y: scroll;
    height: calc(100vh - 132px);
    margin-top: -56px;
    padding-top: 56px;
    width: 100%;
    max-width: unset;
  }
  .item-section .item-photo::-webkit-scrollbar {
    display: none;
  }
  .content-section {
    padding-bottom: 50px;
  }
  .content-section .content-headers {
    display: none;
  }
  .content-section .content-block {
    min-width: unset;
    width: 100%;
    margin-left: 0;
  }
  .content-section .content-block .content-table table th, .content-section .content-block .content-table table td {
    width: 120px;
    min-width: 120px;
  }
  .content-section .content-block .content-buttons .icon {
    margin: 0;
    padding: 8px;
  }
  .content-section .content-block .content-buttons .icon img {
    width: 20px;
    height: 20px;
  }
  .aside-header {
    width: 100%;
  }
  .preview .swiper-button-prev, .preview .swiper-button-next {
    height: 100%;
    width: 80px;
    top: 0;
  }
  .preview .swiper-button-prev button, .preview .swiper-button-next button {
    display: none;
  }
  .preview .swiper-button-prev {
    left: 0;
  }
  .preview .swiper-button-next {
    right: 0;
  }
  .preview .close-btn {
    top: 0;
    right: 0;
  }
}