.hero__section {
  padding-top: 44px;
  padding-bottom: 116px;
}
.hero__section .hero__box {
  margin-bottom: 0;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.hero__section .hero__img img {
  width: 51.91px;
  margin: 0 auto;
}
.hero__section p {
  max-width: 223px;
}

.wishlist-section {
  padding-bottom: 100px;
}
.wishlist-section .colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 4px;
}
.wishlist-section .colors .color {
  width: 24px;
  height: 24px;
  background-color: var(--color);
}
.wishlist-section .sizes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4px;
}
.wishlist-section .sizes .size {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -1%;
  text-align: center;
  color: var(--Neutrals-neutral-400, #C9C5C1);
  width: 24px;
  height: 24px;
  padding: 2px 0;
}
.wishlist-section .sizes .size.active {
  color: var(--Neutrals-neutral-800, #796F64);
}
.wishlist-section .catalog-grid-item.fade-out {
  opacity: 0;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-transition: opacity 0.3s ease-out, -webkit-transform 0.3s ease-out;
  transition: opacity 0.3s ease-out, -webkit-transform 0.3s ease-out;
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
  transition: opacity 0.3s ease-out, transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.no-items-section {
  padding-top: 129px;
  padding-bottom: 273px;
  text-align: center;
}
.no-items-section h3 {
  margin-bottom: 12px;
}
.no-items-section h3 span {
  color: var(--Accent-Accent-500, #FB654F);
}
.no-items-section p {
  margin-bottom: 32px;
}
.no-items-section .btn {
  margin: 0 auto;
}

.cta-section .cta-header {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 840px) {
  .hero__section {
    padding-top: 4px;
    padding-bottom: 70px;
  }
  .hero__section .hero__box {
    gap: 16px;
  }
  .hero__section .hero__img {
    display: none;
  }
  .hero__section .sub_title {
    max-width: 400px;
  }
  .wishlist-section {
    padding-bottom: 50px;
  }
  .wishlist-section .container {
    padding: 0;
  }
  .no-items-section {
    padding-top: 123px;
    padding-bottom: 173px;
  }
}