* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Mariupol", sans-serif;
	text-decoration: none;
	list-style: none;
	cursor: none !important;
}
html,
body {
	cursor: none !important;
}
.container {
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 20px;
}
.container_pd {
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
	padding: 0px 20px;
}
@media (max-width: 1050px) {
	.container {
		padding: 0 20px;
	}
}
@media (min-width: 1441px) {
	.container {
		max-width: 1920px;
	}
}
main {
	padding-top: 56px;
}
html {
	scroll-behavior: smooth;
}
body {
	background-color: #fff;
}

img {
	width: 100%;
	display: block;
	user-select: none;
	pointer-events: none;
}
::-webkit-scrollbar {
	width: 12px;
	height: 12px;
}

::-webkit-scrollbar-track {
	background: #1010100d;
}

::-webkit-scrollbar-thumb {
	background: #101010e5;
	border-radius: 6px;
	transition: all 0.35s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
	background: var(--color_black);
}
/* БАЗОВІ СТИЛІ */
.icon {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 8px;
	border: 1px solid transparent;

	transition: background 0.3s linear, outline-color 0.2s;

	&.orange {
		background: var(--Accent-Accent-500, #fb654f);
	}
	&.light_gray {
		background: var(--Neutrals-neutral-100, #f1f0ef);
	}
	&.white {
		background: var(--Neutrals-neutral-100, #fefeff);
	}
	&.gray {
		background: var(--Neutrals-neutral-800, #796f64);
	}
}

.btn {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px 16px;
	border: 1px solid transparent;
	height: max-content;
	transition: background 0.3s linear, outline-color 0.2s, box-shadow 0.2s;
	width: fit-content;
	font-family: Mariupol;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 16px;
	letter-spacing: -0.14px;

	&.orange {
		background: var(--Accent-Accent-500, #fb654f);
		color: var(--Neutrals-neutral-000, #fefeff);
	}
	&.light_gray {
		background: var(--Neutrals-neutral-100, #f1f0ef);
		color: var(--Neutrals-neutral-800, #796f64);
	}
	&.white {
		background: var(--Neutrals-neutral-100, #fefeff);
		color: var(--Neutrals-neutral-800, #796f64);
	}
	&.gray {
		background: var(--Neutrals-neutral-800, #796f64);
		color: var(--Neutrals-neutral-000, #fefeff);
	}
}

@media (max-width: 840px) {
	.icon {
		padding: 4px;
		margin: 8px;

		img {
			width: 16px;
			height: 16px;
		}
	}
}

.input-box {
	display: flex;
	flex-direction: column;
	align-items: start;
	width: 100%;
	label {
		font-weight: 400;
		font-size: 12px;
		line-height: 14px;
		color: var(--Neutrals-neutral-800, #796f64);
	}

	.input {
		position: relative;
		width: 100%;
		input,
		textarea {
			padding: 12px 0;
			border: none;
			border-bottom: 0.5px solid var(--Neutrals-neutral-400, #c9c5c1);
			color: var(--Neutrals-neutral-1000, #1a1715);
			width: 100%;
			outline: none;
			transition: var(--trans);
			font-weight: 400;
			font-size: 14px;
			line-height: 16px;
			width: 100%;
			&::placeholder {
				color: var(--Neutrals-neutral-400, #c9c5c1);
			}

			&:hover {
				border-bottom: 0.5px solid var(--Neutrals-neutral-600, #AEA8A2);
			}

			&:focus {
				border-bottom: 0.5px solid var(--Neutrals-neutral-800, #796f64);
			}
		}

		svg {
			width: 16px;
			height: 16px;
			position: absolute;
			right: 8px;
			top: 12px;
			background: none;
			border: none;
		}
	}

	&:has(.input.error) {
		label {
			color: var(--semantic-s-error, #fb654f);
		}

		.input-text {
			color: var(--semantic-s-error, #fb654f);
			opacity: 1;
			visibility: visible;
			max-height: 14px;
			margin-top: 6px;
		}

		.input {
			border-bottom: 0.5px solid var(--semantic-s-error, #fb654f);
		}
	}

	&:has(input:disabled) {
		label {
			color: var(--Neutrals-neutral-400, #c9c5c1);
		}

		input {
			color: var(--Neutrals-neutral-200, #e3e1e0);
		}
	}

	.input-text {
		font-weight: 400;
		font-size: 12px;
		line-height: 14px;
		opacity: 0;
		visibility: hidden;
		max-height: 0;
		transition: opacity 0.3s linear;
	}
}

.h1_title {
	color: var(--Neutrals-neutral-1000, #1a1715);
	font-family: Mariupol;
	font-size: 40px;
	font-style: normal;
	font-weight: 700;
	line-height: 40px; /* 100% */
	text-transform: uppercase;
	& .orange {
		color: var(--Accent-Accent-500, #fb654f);
	}
}
.h2_title {
	color: var(--Neutrals-neutral-1000, #1a1715);
	font-family: Mariupol;
	font-size: 28px;
	font-style: normal;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;
	& .orange {
		color: var(--Accent-Accent-500, #fb654f);
	}
}
.h3_title {
	color: var(--Neutrals-neutral-1000, #1a1715);
	font-family: Mariupol;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 22px; /* 110% */
	text-transform: uppercase;
	& .orange {
		color: var(--Accent-Accent-500, #fb654f);
	}
}
.h4_title {
	color: var(--Neutrals-neutral-1000, #1a1715);
	font-family: Mariupol;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 18px; /* 112.5% */
	text-transform: uppercase;
	& .orange {
		color: var(--Accent-Accent-500, #fb654f);
	}
}
.h5_title {
	color: var(--Neutrals-neutral-1000, #1a1715);
	font-family: Mariupol;
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: 16px; /* 114.286% */
	text-transform: uppercase;
	& .orange {
		color: var(--Accent-Accent-500, #fb654f);
	}
}
.sub_title {
	color: var(--Neutrals-neutral-800, #796f64);
	font-family: Mariupol;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 16px; /* 114.286% */
	letter-spacing: -0.14px;
}

.breadcrumbs {
	display: flex;
	gap: 8px;
	align-items: center;

	.breadcrumb {
		font-weight: 400;
		font-size: 12px;
		line-height: 14px;
		letter-spacing: 0%;
		color: var(--Neutrals-neutral-600, #aea8a2);
		padding: 5px 0;
		transition: var(--trans);

		&:last-child {
			color: var(--Neutrals-neutral-1000, #1a1715);
		}

		&:hover {
			color: var(--Neutrals-neutral-800, #796f64);
		}

		&:active {
			color: var(--Neutrals-neutral-900, #524B43);
		}

		&:focus-visible {
			outline: 1px solid #fb654f;
			outline-offset: 2px;
		}
	}

	.badge {
		width: 4px;
		height: 4px;
		border-radius: 99px;
		background-color: var(--Neutrals-neutral-600, #aea8a2);
	}
}

// cursor
@media (min-width: 500px) {
	.cursor {
		position: fixed;
		top: 0;
		left: 0;
		width: 5px;
		height: 5px;
		background: #fb654f !important;
		border-radius: 50%;
		transform: translate(-50%, -50%);
		pointer-events: none;
		z-index: 999999;
		mix-blend-mode: difference;
	}

	.cursor-border {
		mix-blend-mode: difference;
		position: fixed;
		top: 0;
		left: 0;
		width: 30px;
		height: 30px;
		border: 2px solid #fb654f !important;
		border-radius: 50%;
		transform: translate(-50%, -50%);
		pointer-events: none;
		z-index: 999999;
		transition: width 0.2s ease, height 0.2s ease, border-color 0.2s;
	}

	.cursor-border.hover {
		width: 45px;
		height: 45px;
	}
}

// title small
.small__info {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	.h3_title {
		margin-bottom: 20px;
	}
	.sub_title {
		margin-bottom: 40px;
		max-width: 350px;
		text-align: center;
	}
}

.info_grid3 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 12px;
	margin-bottom: 24px;
	img {
		height: 12px;
	}
	.sub_title {
		max-width: 200px;
		margin-right: 0px;
		margin-left: auto;
	}
	.h3_title {
		max-width: 220px;
	}
}

//card
.card__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 12px;
	position: relative;

	.subphoto {
		color: var(--Neutrals-neutral-1000, #1a1715);
		text-align: center;
		font-family: Mariupol;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 20px; /* 125% */
		letter-spacing: -0.64px;
		transition: opacity 0.3s linear;
	}
	.card__img {
		transition: opacity 0.3s linear;
	}
	.icon {
		position: absolute;
		top: 8px;
		right: 8px;
		z-index: 1;
	}
}

/* ДЕСКТОПНІ СТАНИ*/
@media (hover: hover) and (pointer: fine) {
	.icon,
	.btn {
		&:focus-visible {
			outline: 1px solid #fb654f;
			outline-offset: 2px;
		}

		&.orange {
			&:hover {
				background: var(--Accent-Accent-600, #d45442);
			}
			&:active {
				background: var(--Accent-Accent-600, #ad4536);
			}
		}

		&.light_gray {
			&:hover {
				background: var(--Neutrals-neutral-200, #e3e1e0);
			}
			&:active {
				background: var(--Neutrals-neutral-200, #c9c5c1);
			}
		}

		&.white {
			&:hover {
				background: var(--Neutrals-neutral-200, #e3e1e0);
			}
			&:active {
				background: var(--Neutrals-neutral-200, #c9c5c1);
			}
		}

		&.gray {
			&:hover {
				background: var(--Neutrals-neutral-900, #524b43);
			}
			&:active {
				background: var(--Neutrals-neutral-900, #2b2824);
			}
		}
	}
	.account-nav__link,
	.account-nav__logout {
		&:focus-visible {
			outline: 1px solid #fb654f;
			outline-offset: 2px;
		}
	}
	.lookbooks .lookbook,.blog-card, .cart-item-photo{
		transition: all .3s linear;
		&:hover{
			opacity: 0.9 !important;
		}
		&:active{
			opacity: 0.8 !important;
		}
	}
	.faq-header{
		transition: all .3s linear;
		&:hover .h3_title{
		color: #524B43;
	} 
	}
	.header__link
	,.filter-tab button
	,.account-nav__link,
	button.burger.mob {
		&:hover{
			color: #796F64 !important;

		}
		&:active {
			color:  #524B43 !important;
		}
		&:focus-visible {
			outline: 1px solid #fb654f;
			outline-offset: 2px;
		}
	}
	.footer__link {
		&:focus-visible {
			outline: 1px solid #fb654f;
			outline-offset: 2px;
		}
		&:hover {
			color: var(--Neutrals-neutral-400, #C9C5C1);
		}
		&:active {
			color: var(--Neutrals-neutral-600, #AEA8A2);
		}
	}
	.card__item {
		&:focus-visible {
			outline: 1px solid #fb654f;
			outline-offset: 2px;
		}
		&:hover{
			.card__img {
				opacity: 0.9;
			}
			.icon {
				background: var(--Neutrals-neutral-200, #E3E1E0);
			}
		}
		&:active {
			.icon {
				background: var(--Neutrals-neutral-200, #C9C5C1);
			}
			.subphoto {
				opacity: 0.8;
			}
			.card__img {
				opacity: 0.8;
			}
		}
	}
	.slide__img {
		&:hover {
			.plus {
				opacity: 1;
				visibility: visible;
			}
		}
		&:focus-visible {
			outline: 1px solid #fb654f;
			outline-offset: 2px;
		}
	}
	.swiper-slide-active .slide__img:hover {
		.like {
			opacity: 1;
			visibility: visible;
		}
	}
}
.section__title {
	padding-block: 100px;
	.big_title {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
	.h1_title {
		max-width: 600px;
		margin-bottom: 20px;
	}
	.sub_title {
		max-width: 250px;
		margin-bottom: 40px;
	}
}

.tag {
	padding: 8px 12px;
	color: var(--Secondary-red-100, #fb654f);
	background-color: var(--Secondary-red-10, #fb654f1a);
	border: none;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: -1%;
	transition: var(--trans);

	&:active {
		outline: 1px solid var(--Secondary-red-100, #fb654f);
	}

	&:focus-visible {
		outline: 1px solid #fb654f;
		outline-offset: 2px;
	}

	&.active {
		background-color: var(--Secondary-red-100, #fb654f);
		color: var(--Neutrals-neutral-000, #fefeff);
	}

	&:disabled {
		background-color: var(--Neutrals-neutral-100, #f1f0ef);
		color: var(--Neutrals-neutral-400, #c9c5c1);
	}
}

.blog-card {
	display: block;
	transition: var(--trans);

	&-photo {
		overflow: hidden;
		transition: var(--trans);

		img {
			object-fit: cover;
		}
	}

	&-info {
		display: flex;
		gap: 12px;
		align-items: center;

		.date {
			font-weight: 400;
			font-size: 14px;
			line-height: 16px;
			letter-spacing: -1%;
			color: var(--Neutrals-neutral-600, #aea8a2);
			transition: var(--trans);
		}
	}

	&-name {
		h3 {
			margin-bottom: 12px;
			transition: var(--trans);
		}

		p {
			transition: var(--trans);
		}
	}

	&:active {
		.blog-card-name {
			h3 {
				color: var(--Neutrals-neutral-800, #796f64);
			}

			p {
				color: var(--Neutrals-neutral-600, #aea8a2);
			}
		}

		.blog-card-photo {
			opacity: 80%;
		}

		.blog-card-info .date {
			color: var(--Neutrals-neutral-400, #c9c5c1);
		}
	}

	&:focus-visible {
		outline: 1px solid #fb654f;
		outline-offset: 2px;
	}

	&:disabled {
		.blog-card-name {
			h3 {
				color: var(--Neutrals-neutral-400, #c9c5c1);
			}

			p {
				color: var(--Neutrals-neutral-200, #e3e1e0);
			}
		}

		.blog-card-photo {
			opacity: 40%;
		}

		.blog-card-info .date {
			color: var(--Neutrals-neutral-200, #e3e1e0);
		}
	}

	&.big {
		display: flex;
		gap: 16px;
		height: 500px;

		.blog-card-name {
			width: 223px;
		}

		.blog-card-photo {
			flex: 1;
			height: 100%;
		}

		.blog-card-info {
			width: 223px;
			height: fit-content;
		}
	}

	&.small {
		display: block;

		.blog-card-photo {
			height: 400px;
			width: 100%;
			margin-bottom: 16px;
		}

		.blog-card-info {
			margin-bottom: 16px;
		}

		.blog-card-name {
			padding-right: 40px;
		}
	}
}

.overlay {
	position: fixed;
	z-index: -1;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	mask-repeat: no-repeat;
	mask-size: cover;
	backdrop-filter: blur(10px);
	transition: var(--trans);
	overflow: hidden;

	&.open {
		z-index: 998;
		opacity: 1;
	}

	&.right {
		mask-image: linear-gradient(
			to right,
			rgba(121, 111, 100, 0.05),
			rgba(121, 111, 100, 1) 50%
		);
	}

	&.left {
		mask-image: linear-gradient(
			to left,
			rgba(121, 111, 100, 0.05),
			rgba(121, 111, 100, 1) 50%
		);
	}
}

.toast {
	display: flex;
	position: fixed;
	z-index: 50;
	left: 50%;
	transform: translateX(-50%);
	bottom: 0;
	opacity: 0;
	transition: var(--trans);

	p {
		padding: 10px 12px;
		font-weight: 400;
		font-size: 14px;
		line-height: 16px;
		letter-spacing: -1%;
		text-align: center;
		color: var(--Neutrals-neutral-000, #fefeff);
		white-space: nowrap;
	}

	.icon {
		border-left: 0.5px solid var(--Neutrals-neutral-200, #e3e1e0);
		background: transparent;
		margin: 0;
		padding: 8px;
		img {
			width: 20px;
			height: 20px;
		}
	}

	&.green {
		background: var(--semantic-s-success, #8ac73f);
	}

	&.yellow {
		background: var(--semantic-s-warning, #ffc550);
	}

	&.red {
		background: var(--semantic-s-error, #fb654f);
	}

	&.open {
		bottom: 20px;
		opacity: 1;
	}
}

@media (max-width: 840px) {
	.card__item .icon {
		top: 0;
		right: 0;
	}

	.blog-card.small {
		.blog-card-name,
		.blog-card-info {
			padding: 0 20px;
		}
	}
}

.like img.animate {
  transform: scale(1.3);
  transition: transform 0.3s ease;
}

.like img.animate {
  transform: scale(1);
}
