.hero__section {
    padding-top: 44px;
    padding-bottom: 72px;

    .hero__box {
        margin-bottom: 0;
        align-items: flex-start;
    }

    .hero__img {
        img {
            width: 51.91px;
            margin: 0 auto;
        }
    }

    p {
        max-width: 223px;
    }
}

.big-blog-section {
    padding-bottom: 52px;
}

.settings-section {
    padding: 20px 0;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .filter-tabs {
        display: flex;
        gap: 20px;

        .filter-tab {
            position: relative;

            &.active {
                button {
                    color: var(--Neutrals-neutral-1000, #1A1715);
                }
            }

            button {
                padding: 4px 22px 4px 0;
                font-weight: 400;
                font-size: 14px;
                line-height: 16px;
                letter-spacing: -1%;
	            color: var(--Neutrals-neutral-600, #aea8a2);
                border: none;
                background: none;
                transition: var(--trans);
                white-space: nowrap;

                &:active {
                    color: var(--Neutrals-neutral-800, #796F64);
                }

                &:focus-visible {
                    outline: 1px solid #fb654f;
			        outline-offset: 2px;
                }

                &:disabled {
                    color: var(--Neutrals-neutral-400, #C9C5C1);
                }
            }

            &-number {
                position: absolute;
                top: 4px;
                right: 0;
                font-weight: 400;
                font-size: 12px;
                line-height: 14px;
                letter-spacing: 0%;
                color: var(--Neutrals-neutral-400, #C9C5C1);
            }
        }
    }

    .right {
        .input-box {
            width: 223.5px;
        }
    }
}

.blogs-section {
    padding-bottom: 100px;

    .blogs-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
        gap: 40px 12px;
    }
}

@media (max-width: 840px) {
    .hero__section {
        padding-top: 4px;
        padding-bottom: 20px;

        .hero__box {
            gap: 16px;
        }

        .hero__img {
            display: none;
        }

        .sub_title {
            max-width: 400px;
        }
    }

    .big-blog-section {
        display: none;
    }
    
    .settings-section {
        .container {
            flex-direction: column;
            gap: 16px;
            align-items: flex-start;
        }

        .left {
            max-width: 100%;
            overflow-x: scroll;

            &::-webkit-scrollbar  {
                display: none;
            }
        }

        .right {
            width: 100%;
            .input-box {
                width: 100%;
            }
        }
    }

    .blogs-section {
        padding-bottom: 50px;

        .container {
            padding: 0;
        }

        .blogs-list {
            grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        }
    }
}