.hero__section {
    padding-top: 44px;
    padding-bottom: 116px;

    .hero__box {
        margin-bottom: 0;
        align-items: flex-start;
    }

    .hero__img {
        img {
            width: 51.91px;
            margin: 0 auto;
        }
    }

    h1 {
        max-width: 430px;
    }

    p {
        max-width: 223px;
    }
}

.lookbooks-section {
    padding-bottom: 100px;

    .lookbooks {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
        gap: 40px 12px;
    }

    .lookbook {
        display: block;
        position: relative;

        &-photo {
            width: 100%;
            max-height: 516px;
            overflow: hidden;
            margin-bottom: 12px;

            img {
                object-fit: cover;
            }
        }

        &-text {
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: -4%;
            text-align: center;
            color: var(--Neutrals-neutral-1000, #1A1715);
        }

        .icon {
            position: absolute;
            top: 8px;
            right: 8px;
        }
    }
}

@media (max-width: 840px) {
    .hero__section {
        padding-top: 4px;
        padding-bottom: 70px;

        .hero__box {
            gap: 16px;
        }

        .hero__img {
            display: none;
        }

        .sub_title {
            max-width: 400px;
        }
    }

    .lookbooks-section {
        padding-bottom: 50px;

        .lookbooks {
            grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
            gap: 32px;
        }

        .lookbook {

            &-photo {
                height: 335px;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    height: 100%;
                    width: unset;
                    object-position: center
                }
            }

            .icon {
                top: 0;
                right: 0;
            }
        }
    }
}