.item-section {
    padding-bottom: 100px;

    .item-photo {
        max-width: 458px;
        margin: 0 auto;
        margin-top: -100vh;
        padding-top: 31px;

        &-list {
            width: 100%;

            img {
                pointer-events: auto;
            }
        }
    }

    .item-info {
        width: 100%;
        position: sticky;
        top: 0;
        margin-top: -80px;
        height: 100vh;
        pointer-events: none;
        z-index: 1;

        .line {
            display: none;
        }

        button, input, label {
            pointer-events: auto;
        }

        .container {
            height: 100%;
        }

        &-flex {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
        }

        &-name {
                max-width: 223px;

                h3 {
                    margin-bottom: 20px;
                }
            }

            &-price {
                display: flex;
                flex-direction: column-reverse;
                font-weight: 400;
                font-size: 20px;
                line-height: 24px;
                letter-spacing: -4%;
                color: var(--Neutrals-neutral-800, #796F64);

                .old {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 20px;
                    letter-spacing: -4%;
                    color: var(--Neutrals-neutral-600, #AEA8A2);
                    display: flex;
                    align-items: center;
                }

                .discount {
                    padding: 2px;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 12px;
                    letter-spacing: 0%;
                    color: var(--Neutrals-neutral-000, #FEFEFF);
                    background-color: var(--Secondary-red-100, #FB654F);
                    margin-left: -5px;
                }
            }

            &-details {
                max-width: 223px;

                &-header {
                    margin-bottom: 8px;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 16px;
                        letter-spacing: -1%;
                        color: var(--Neutrals-neutral-1000, #1A1715);
                }

                .colors {
                    margin-bottom: 24px;
                    display: flex;
        gap: 4px;

        .color {
            width: 24px;
            height: 24px;
            background-color: var(--color);
            display: block;

            input {
                display: none;
            }

            &:has(input:checked) {
                outline: 1px solid #fb654f;
			    outline-offset: 2px;
            }
        }
                }

                .size-header {
                    display: flex;
                    align-items: center;
                    gap: 8px;

                    .item-info-details-header {
                        margin: 0;
                    }
                    button {
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 16px;
                        letter-spacing: -1%;
                        background: none;
                        border: none;
                        color: var(--Neutrals-neutral-600, #AEA8A2);
                    }
                }

                .sizes {
                    margin-bottom: 8px;
                    display: flex;
        gap: 4px;

        .size {
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: -1%;
            text-align: center;
            color: var(--Neutrals-neutral-800, #796F64);
            width: 24px;
            height: 24px;
            padding: 2px 0;
            margin: 4px;
            transition: var(--trans);
            position: relative;

            &:hover:not(:has(input:disabled)) {
                background-color: var(--Neutrals-neutral-100, #F1F0EF);
            }

            &:active {
                background-color: var(--Neutrals-neutral-200, #E3E1E0);
            }

            &:focus-visible {
                outline: 1px solid #fb654f;
			    outline-offset: 2px;
            }

            &:has(input:checked) {
                background-color: var(--Neutrals-neutral-800, #796F64);
                color: var(--Neutrals-neutral-000, #FEFEFF);
            }

            &:has(input:disabled) {  
                color: var(--Neutrals-neutral-400, #C9C5C1);
            }

            input {
                display: none;
            }

            .tooltip {
                position: absolute;
                top: 100%;
                left: 50%;
                transform: translateX(-50%);
                background-color: var(--Neutrals-neutral-800, #796F64);
                color: var(--Neutrals-neutral-000, #FEFEFF);
                padding: 4px 8px;
                visibility: hidden;
                opacity: 0;
                transition: all 0.3s ease-out 0.7s;
                white-space: nowrap;
            }

            &:has(input:disabled):hover {
                .tooltip {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
                }

                &-size-text {
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 14px;
                    letter-spacing: 0%;
                    color: var(--Neutrals-neutral-600, #AEA8A2);
                    margin-bottom: 24px;
                }

                &-text {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 16px;
                    letter-spacing: -1%;
                    color: var(--Neutrals-neutral-800, #796F64);

                    &:not(:last-child) {
                        margin-bottom: 24px;
                    }
                }
            }

            &-buttons {
                display: flex;
                justify-content: center;
                gap: 8px;
                align-self: flex-end;
                margin-bottom: 20px;
            }
    }
}

.content-section {
    padding-bottom: 100px;

    .content-headers {
        position: sticky;
        top: 100px;
        max-width: 215px;

        .decor {
            margin-bottom: 24px;

            img {
                width: 51.91px;
            }
        }

        a {
            margin-bottom: 2px;
            padding: 4px 0;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: -4%;
            color: var(--Neutrals-neutral-600, #AEA8A2);
            transition: var(--trans);
            display: block;

            &.active {
                color: var(--Neutrals-neutral-1000, #1A1715);
            }

            &:active {
                color: var(--Neutrals-neutral-800, #796F64);
            }

            &:focus-visible {
    			outline: 1px solid #fb654f;
	    		outline-offset: 2px;
		    }
        }
    }

    >.container.first {
        margin-top: -124px;

        .content-block {
            padding-top: 100px;
        }
    }

    .content-block {
        max-width: 930px;
        margin-left: 255px;
        padding-top: 80px;
        

        .content-text, .content-quote, .content-buttons, h2, h4 {
            max-width: 458px;
            margin: 0 auto;
        }

        h2 {
            margin-bottom: 40px;
        }

        h4 {
            margin-bottom: 28px;
        }

        .content-subblock {
            width: 100%;

            &:not(:last-child) {
                margin-bottom: 40px;
            }
        }

        .content-text {
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            letter-spacing: -1%;
            color: var(--Neutrals-neutral-800, #796F64);

            &:not(:last-child) {
                margin-bottom: 28px;
            }
        }

        .content-photo {
            width: 100%;
            margin-bottom: 28px;
        }

        p {
            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }

        .text-button {
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            letter-spacing: -1%;
            color: var(--Accent-Accent-500, #FB654F);
            background: none;
            border: none;
        }

        ul li {
            padding-left: 16px;
            position: relative;

            &:not(:last-child) {
                margin-bottom: 8px;
            }

            &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 9px;
                    width: 4px;
                    height: 4px;
                    background-color: var(--Neutrals-neutral-800, #796F64);
                    border-radius: 99px; 
                }
        }

        ol li {
            counter-increment: item;
            position: relative;
            padding-left: 32px;

            &:not(:last-child) {
                margin-bottom: 8px;
            }

            &::before {
                content: counter(item, decimal);
                position: absolute;
                left: 0;
                top: 1px;
                width: 20px;
                height: 20px;
                border-radius: 99px;
                background-color: var(--Neutrals-neutral-800, #796F64);
                color: var(--Neutrals-neutral-000, #FEFEFF);
                text-align: center;
            }
        }

        .content-table {
            p {
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                letter-spacing: -4%;
                color: var(--Neutrals-neutral-1000, #1A1715);
                margin-bottom: 16px;
            }

            .table-container {
                width: 100%;
                overflow-x: scroll;

                &::-webkit-scrollbar {
                    display: none;
                }
            }

            table {
                width: 100%;
                min-width: fit-content;
                border-collapse: collapse;

                thead {
                    background-color: var(--Neutrals-neutral-100, #F1F0EF);
                }

                th, td {
                    padding: 10px;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 16px;
                    letter-spacing: -1%;
                    color: var(--Neutrals-neutral-800, #796F64);
                    border: 0.5px solid var(--Neutrals-neutral-400, #C9C5C1);
                    width: 186px;
                    text-align: left;
                }
            }
        }

        .content-quote {
            padding-left: 20px;
            border-left: 0.5px solid var(--Neutrals-neutral-400, #C9C5C1);

            .quote {
                font-weight: 700;
                font-size: 20px;
                line-height: 28px;
                letter-spacing: 0%;
                text-transform: uppercase;
                color: var(--Neutrals-neutral-800, #796F64);
                margin-bottom: 40px;

                .marks {
                    color: var(--Accent-Accent-500, #FB654F);
                    font-style: italic;
                }
            }

            .avatar {
                display: flex;
                align-items: center;
                gap: 8px; 

                .block {
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 16px;
                    letter-spacing: 0%;
                    text-align: center;
                    text-transform: uppercase;
                    width: 28px;
                    height: 28px;
                    border: 0.5px solid var(--Accent-Accent-500, #FB654F);
                    color: var(--Accent-Accent-500, #FB654F);
                    padding: 6px 0;
                }

                p {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 16px;
                    letter-spacing: -1%;
                    color: var(--Neutrals-neutral-1000, #1A1715);
                }
            }
        }

        .content-buttons {
            padding-top: 20px;
            border-top: 0.5px solid var(--Neutrals-neutral-400, #C9C5C1);
            display: flex;
            justify-content: space-between;

            .left {
                display: flex;
                gap: 4px;
            }
        }

        &.last {
            margin-bottom: 0;
        }
    }

    >.content-photo {
        margin-bottom: 80px;
    }
}

.lookbook__section {
    padding-block: 100px;

    .lookbook__fixed {
        height: 523px;
    }

    .lookbook__info {
        position: absolute;
        inset: 0;
        padding: 20px;
        height: 100%;
    }

    .lookbook__list_img {
        padding: 0;
        margin: 0;
    }

    .lookbook__photo4 {
        top: 340px;
        left: 491px;
    }

    .lookbook__photo8 {
        display: none;
    }
}

.aside-container {
    padding: 96px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    max-height: 100vh;
    height: 100vh;

    &::-webkit-scrollbar {
        display: none;
    }
}

.aside-header {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: var(--Neutrals-neutral-000, #FEFEFF);
    position: fixed;
    top: 0;
    width: 50%;

    .icon {
        margin: 0;
        padding: 8px;
        img {
            width: 20px;
            height: 20px;
        }
    }

    h5 {
        text-align: center;
        width: calc(100% - 75px);
    }
}

body:has(.size-table.open),
body:has(.preview.open) {
    overflow: hidden;
}

.preview {
    position: fixed;
    inset: 0;
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    transition: var(--trans);

    &.open {
        z-index: 1000;
        visibility: visible;
        opacity: 1;
    }

    &-bg {
        position: absolute;
        inset: 0;
        background: #796F640D;
        backdrop-filter: blur(10px)
    }

    .swiper {
        position: relative;
        z-index: 1;
        padding: 0;
        height: 100vh;
        margin: 0 auto;
        pointer-events: none;

        &-slide {
            width: 100% !important;
            height: 100%;
            padding: 0;
            transition: none;
            display: flex;
            justify-content: center;

            img {
                height: 100%;
                width: auto;
                pointer-events: auto;
            }
        }

        &-pagination {
            pointer-events: auto;
            bottom: 16px;

            &-bullet {
                width: 4px;
                height: 4px;
                background: #FEFEFF66;
                transition: var(--trans);

                &-active {
                    width: 12px;
                    background: var(--Neutrals-neutral-000, #FEFEFF);
                    border-radius: 198px;
                }

                &:active {
                    background: #FEFEFFCC;
                }

                &:focus-visible {
                    outline: 1px solid #fb654f;
			        outline-offset: 2px;
                }

                &:disabled {
                    background: #FEFEFF1A;
                }
            }
        }

        &-button-prev, &-button-next {
            width: 36px;
            height: 36px;
            pointer-events: auto;

            img {
                width: 20px;
            }

            &::after {
                content: none;
            }
        }

        &-button-next {
            right: 20px;
            button {
                transform: rotate(180deg);
            }
        }

        &-button-prev {
            left: 20px;
        }
    }

    .close-btn {
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 2;
    }
}

@media (max-width: 1200px) {
    .lookbook__section {
        .lookbook__fixed {
            height: max-content;
        }

        .lookbook__photo4 {
            margin-left: 60px;
            margin-top: 24px;
            display: block;
            top: auto;
            left: auto;
        }

        .lookbook__photo8 {
            display: block;
        }
    }
}

@media (max-width: 840px) {
    .item-section {
        display: flex;
        flex-direction: column;
        padding: 0;

        .container:has(.breadcrumbs) {
            display: none;
        }

        .item-info {
            order: 2;
            position: relative;
            z-index: 2;
            padding: 20px 0;
            margin-top: 0;
            background-color: var(--Neutrals-neutral-000, #FEFEFF);
            height: fit-content;
            pointer-events: auto;

            .line {
                display: block;
                padding: 7.5px 0;
                position: absolute;
                bottom: 100%;
                width: 100%;

                hr {
                    width: 52px;
                    height: 1px;
                    border: none;
                    background-color: #000;
                    margin: 0 auto;
                }
            }

            &-flex {
                flex-direction: column;
                height: fit-content;
                gap: 20px;
                align-items: flex-start;
            }

            &-name {
                max-width: unset;

                h3 {
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 16px;
                    letter-spacing: 0%;
                    margin-bottom: 4px;
                }
            }

            &-price {
                display: inline;
                margin: 0 auto;
                width: fit-content;
                font-size: 16px;
                line-height: 20px;

                .old {
                    display: inline;
                    padding-bottom: 2px;
                    margin-left: 8px;
                    position: relative;
                }

                .discount {
                    position: absolute;
                    top: 0.5px;
                    left: calc(100% - 0.5px);
                }
            }

            &-buttons {
                align-self: flex-start;
                margin: 0;

                .icon {
                    margin: 0;
                    padding: 8px;

                    img {
                        height: 20px;
                        width: 20px;
                    }
                }
            }

            &-details {
                max-width: unset;
            }
        }

        .item-photo {
            order: 1;
            position: sticky;
            top: 0;
            overflow-y: scroll;
            height: calc(100vh - 132px);
            margin-top: -56px;
            padding-top: 56px;
            width: 100%;
            max-width: unset;

            &::-webkit-scrollbar {
                display: none;
            }
        }
    }

    .content-section { 
        padding-bottom: 50px;

        .content-headers {
            display: none;
        }

        .content-block {
            min-width: unset;
            width: 100%;
            margin-left: 0;

            .content-table {
                table th, table td {
                    width: 120px;
                    min-width: 120px;
                }
            }

            .content-buttons .icon {
                margin: 0;
                padding: 8px;

                img {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }

    .aside-header {
        width: 100%;
    }

    .preview {
        .swiper {
            &-button-prev, &-button-next {
                height: 100%;
                width: 80px;
                top: 0;

                button {
                    display: none;
                }
            }

            &-button-prev {
                left: 0;
            }

            &-button-next {
                right: 0;
            }
        }

        .close-btn {
            top: 0;
            right: 0;
        }
    }
}